# Extract Transform and Load Data for survey responses

In [233]:
#Import dependencies 
import pandas as pd

#Read CSV

file_path='Resources/PowerBi_Dashboard_Project.csv'

#saving as df
OG_df = pd.read_csv(file_path)

#Creating copy of df
df = OG_df

#Print df
df.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [234]:
#Print all column names in list
df.columns
#Count number of columns in df
shape = df.shape
print("Number of columns in the df =",shape[1])

# Standarize all column names 
df.columns = [c.replace(' ', '_') for c in df.columns]
df

Number of columns in the df = 28

,Unique_ID,Email,Date_Taken_(America/New_York),Time_Taken_(America/New_York),Browser,OS,City,Country,Referrer,Time_Spent,...,Q6_-_How_Happy_are_you_in_your_Current_Position_with_the_following?_(Management),Q6_-_How_Happy_are_you_in_your_Current_Position_with_the_following?_(Upward_Mobility),Q6_-_How_Happy_are_you_in_your_Current_Position_with_the_following?_(Learning_New_Things),Q7_-_How_difficult_was_it_for_you_to_break_into_Data?,"Q8_-_If_you_were_to_look_for_a_new_job_today,_what_would_be_the_most_important_thing_to_you?",Q9_-_Male/Female?,Q10_-_Current_Age,Q11_-_Which_Country_do_you_live_in?,Q12_-_Highest_Level_of_Education,Q13_-_Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,6/23/2022,22:45,NaN,NaN,NaN,NaN,NaN,0:00:50,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,anonymous,6/24/2022,7:45,NaN,NaN,NaN,NaN,NaN,0:03:12,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,anonymous,6/25/2022,9:41,NaN,NaN,NaN,NaN,NaN,0:04:43,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,anonymous,6/25/2022,19:06,NaN,NaN,NaN,NaN,NaN,0:02:17,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,anonymous,6/26/2022,12:58,NaN,NaN,NaN,NaN,NaN,0:01:19,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [235]:
#Start cleaning by deleting columns that are not needed for the Analysis 

d = clean_rows_df.drop(['Email','Browser','City','OS','City','Country','Referrer'],axis=1)

# Rename the OG columns
clean_row_df = d.rename(columns={'Date_Taken_(America/New_York)':'Date_Taken',
                       'Time_Taken_(America/New_York)':'Time_Taken',
                       'Q1_-_Which_Title_Best_Fits_your_Current_Role?':'Q1_Role_Title?',
                       'Q2_-_Did_you_switch_careers_into_Data?':'Q2_switch_careers?',
                       'Q3_-_Current_Yearly_Salary_(in_USD)':'Q3_Yearly_Salary',
                       'Q4_-_What_Industry_do_you_work_in?':'Q4_Industry',
                       'Q5_-_Favorite_Programming_Language':'Q5_Programming_Language',
                       'Q6_-_How_Happy_are_you_in_your_Current_Position_with_the_following?_(Salary)':'Q6_Salary_Satisfaction',
                       'Q6_-_How_Happy_are_you_in_your_Current_Position_with_the_following?_(Work/Life_Balance)':'Q7_Work/Life_Balance_Satisfaction',
                       'Q6_-_How_Happy_are_you_in_your_Current_Position_with_the_following?_(Coworkers)':'Q8_Coworkers_Satisfaction',
                       'Q6_-_How_Happy_are_you_in_your_Current_Position_with_the_following?_(Management)':'Q9_Management_Satisfaction',
                       'Q6_-_How_Happy_are_you_in_your_Current_Position_with_the_following?_(Upward_Mobility)':'Q10_Upward_Mobility_Satisfaction',
                       'Q6_-_How_Happy_are_you_in_your_Current_Position_with_the_following?_(Learning_New_Things)':'Q11_Learning_Opportunities_Satisfaction',
                       'Q7_-_How_difficult_was_it_for_you_to_break_into_Data?':'Q12_Difficulty_Level_Entry_to_Data',
                       'Q8_-_If_you_were_to_look_for_a_new_job_today,_what_would_be_the_most_important_thing_to_you?':'Q13_Most_Important_Aspect_New_Job',
                       'Q9_-_Male/Female?':'Q14_Gender',
                       'Q10_-_Current_Age':'Q15_Age',
                       'Q11_-_Which_Country_do_you_live_in?':'Q16_Country_of_Recidency',
                       'Q12_-_Highest_Level_of_Education':'Q17_Education_Level', 
                       'Q13_-_Ethnicity':'Q18_Ethnicity'})

#Print out the new df to check if columns have changed
clean_row_df.head()

,Unique_ID,Date_Taken,Time_Taken,Time_Spent,Q1_Role_Title?,Q2_switch_careers?,Q3_Yearly_Salary,Q4_Industry,Q5_Programming_Language,Q6_Salary_Satisfaction,...,Q9_Management_Satisfaction,Q10_Upward_Mobility_Satisfaction,Q11_Learning_Opportunities_Satisfaction,Q12_Difficulty_Level_Entry_to_Data,Q13_Most_Important_Aspect_New_Job,Q14_Gender,Q15_Age,Q16_Country_of_Recidency,Q17_Education_Level,Q18_Ethnicity
0,62a33b3db4da29969c62df3d,6/10/2022,8:38,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,No Awnser,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,6/10/2022,8:40,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,No Awnser,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,6/10/2022,8:42,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,No Awnser,Black or African American
3,62a33c8624a26260273822f9,6/10/2022,8:43,0:02:10,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,No Awnser,White or Caucasian
4,62a33c91f3072dd892621e03,6/10/2022,8:44,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,No Awnser,Black or African American

In [236]:
#Check for unique values that might be the same just different spelling and correct transform the data

# Q1 
#Step 1: display all values
clean_row_df['Q1_Role_Title?']
#Step 2: Strip, lower and replace spacing for _
clean_row_df['Q1_Role_Title?'] = [c.replace(' ', '_').lower().strip() for c in clean_row_df['Q1_Role_Title?']]

#Step 3: Identify unique values check if there are some that are the same just different spelling
clean_row_df['Q1_Role_Title?'].unique()

#Step 4: Remove 'other_(please_specify):' from all values in rows 
for column in ["Q1_Role_Title?"]:
    clean_row_df[column] = clean_row_df[column].str.lstrip("other_(please_specify):")



#Step 5 put it in a list and start cleaning using replace method
c_list = []
for i in clean_row_df['Q1_Role_Title?'].unique():
    c_list.append(i)


clean_row_df = clean_row_df.replace({'Q1_Role_Title?':{ 'data_analyst':'Data Analyst',
                                                       'data_engineer': 'Data Engineer',
                                                         'nalytics_consultant_':'Consultant',
                                                         'data_scientist':'Data Scientist',
                                                         'udent/looking/none':'Student',
                                                         '&a_analyst':'Data Analytst',
                                                         'bi_developer_':'Developer',
                                                         'manager,_business_intelligence_develop':'Manager',
                                                         'business_analyst_':'Business Analyst',
                                                         'business_analyst':'Business Analyst',
                                                         'business_intelligence_consultant':'Consultant',
                                                         '._supply_chain_analyst_':'Supply Chain Analyst',
                                                         'director_of_data_analytics':'Director',
                                                         'ning_management_specialist':'Manager',
                                                         'nalyst':'Analyst',
                                                         'nsights_analyst':'Analyst',
                                                         'does_a_social_media_analyst_count?':'Analyst',
                                                         'ducator':'Professor',
                                                         'business_intelligence_engineer':'Data Engineer',
                                                         '':'Other',
                                                         'nalytics_manager':'Manager',
                                                         'manager_of_a_team_of_data_analysts':'Manager',
                                                         'nalytics_engineer':'Data Engineer',
                                                         'nalyst_primary_market_intelligence':'Analyst',
                                                         'ware_engineer':'Data Engineer',
                                                         'data_architect':'Data Architect',
                                                         'data_integrity': 'Data Integrety',
                                                         'database_developer':'Database Developer',
                                                         'nancial_analyst':'Analyst',
                                                         'database_manager':'Manager',
                                                         'ware_developer_':'Developer',
                                                         'bleau_admin':'Admin',
                                                         'ng_adm':'Admin',
                                                         'billing_analyst':'Analyst',
                                                         'work_with_data_tools_and_can_create_simple_dashboards_but_i_am_not_a_data_scientist':'Analyst',
                                                         'marketing_data_specialist':'Analyst',
                                                         'jr._data_scientist':'Data Scientist',
                                                         'ntinuous_quality_improvement_specialist':'Quality Improvement',
                                                         'mo':'Manager',
                                                         'm_administrator':'Admin',
                                                         'nsultant':'Consultant',
                                                         'business_intelligence_developer':'Developer',
                                                         'nformatics_specialist':'Analyst',
                                                         'business_analys':'Business Analyst',
                                                         'nance_analyst_':'Analyst',
                                                         'web_developer':'Developer',
                                                         'manager_':'Manager',
                                                         'junior_software_engineer':'Software Engineer',
                                                         'nior_business_analyst':'Business Analyst',
                                                         'data_coordinator': 'Quality Improvement',
                                                         'udent_working_as_a_data_analyst_intern_':'Analyst',
                                                         'driver':'Other',
                                                         'data_manager':'Manager',
                                                         'gis_analyst_':'Analyst',
                                                         'business_intelligence_analyst':'Business Analyst',
                                                         'bi_consultant_':'Consultant',
                                                         'dba':'Database Manager',
                                                         'data_steward':'Data Architecture',
                                                         'nical_consulta':'Consultant',
                                                         'ware_engineer,_ai_':'Software Engineer',
                                                         'ms_configuration_':'Developer',
                                                         '&_marketing':'Manager',
                                                         'ngineer':'Data Engineer',
                                                         'upport_engineer':'Data Engineer',
                                                         'unt_manager':'Manager',
                                                         'ncident_manager':'Manager',
                                                         'duct_owner':'Owner',
                                                         'ngineer_': 'Data Engineer',
                                                         'dictive_analyst':'Analyst',
                                                         'ds_operations':'Analyst',
                                                         'wer_bi_developer':'Developer',
                                                         'ware_support':'Support',
                                                         'nvestigation_specialist':'Analyst',
                                                         'director':'Director',
                                                         'urity_analyst':'Analyst',
                                                         'bi_manager':'Manager',
                                                         'data_scientist_intern':'Data Scientist',
                                                       'udent':'Student',
                                                       'data_analytst':'Analyst',
                                                       'developer':'Developer',
                                                       'manager':'Manager',
                                                       'upply_chain_analyst':'Analyst',
                                                       'data_integrety':'Governance',
                                                       'dmin':'Admin',
                                                       'quality_improvement':'Quality Improvement',
                                                       'data_architecture':'Data Architecture',
                                                       'wner':'Owner',
                                                       'upport':'Support'
                                                       
}})
clean_row_df.head()

,Unique_ID,Date_Taken,Time_Taken,Time_Spent,Q1_Role_Title?,Q2_switch_careers?,Q3_Yearly_Salary,Q4_Industry,Q5_Programming_Language,Q6_Salary_Satisfaction,...,Q9_Management_Satisfaction,Q10_Upward_Mobility_Satisfaction,Q11_Learning_Opportunities_Satisfaction,Q12_Difficulty_Level_Entry_to_Data,Q13_Most_Important_Aspect_New_Job,Q14_Gender,Q15_Age,Q16_Country_of_Recidency,Q17_Education_Level,Q18_Ethnicity
0,62a33b3db4da29969c62df3d,6/10/2022,8:38,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,No Awnser,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,6/10/2022,8:40,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,No Awnser,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,6/10/2022,8:42,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,No Awnser,Black or African American
3,62a33c8624a26260273822f9,6/10/2022,8:43,0:02:10,Consultant,Yes,150k-225k,Finance,R,10.0,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,No Awnser,White or Caucasian
4,62a33c91f3072dd892621e03,6/10/2022,8:44,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,No Awnser,Black or African American

In [237]:
#Q3
#Change ranges to actual int so we can analyze later. I decided to go with upper boundary as the value to keep
#For 225+ I chose 300K as my int just to make it stand out
for i in clean_row_df['Q3_Yearly_Salary']:
    if i =='0-40k':
        clean_row_df['Q3_Yearly_Salary']=clean_row_df['Q3_Yearly_Salary'].replace('0-40k',40000)
    elif i =='41k-65k':
        clean_row_df['Q3_Yearly_Salary']=clean_row_df['Q3_Yearly_Salary'].replace('41k-65k',65000)
    elif i =='66k-85k':
        clean_row_df['Q3_Yearly_Salary']=clean_row_df['Q3_Yearly_Salary'].replace('66k-85k',85000)
    elif i =='86k-105k':
        clean_row_df['Q3_Yearly_Salary']=clean_row_df['Q3_Yearly_Salary'].replace('86k-105k',105000) 
    elif i =='106k-125k':
        clean_row_df['Q3_Yearly_Salary']=clean_row_df['Q3_Yearly_Salary'].replace('106k-125k',125000) 
    elif i =='125k-150k':
        clean_row_df['Q3_Yearly_Salary']=clean_row_df['Q3_Yearly_Salary'].replace('125k-150k',150000)
    elif i =='150k-225k':
        clean_row_df['Q3_Yearly_Salary']=clean_row_df['Q3_Yearly_Salary'].replace('150k-225k',225000)
    else:
        clean_row_df['Q3_Yearly_Salary']=clean_row_df['Q3_Yearly_Salary'].replace('225k+',300000)
clean_row_df

,Unique_ID,Date_Taken,Time_Taken,Time_Spent,Q1_Role_Title?,Q2_switch_careers?,Q3_Yearly_Salary,Q4_Industry,Q5_Programming_Language,Q6_Salary_Satisfaction,...,Q9_Management_Satisfaction,Q10_Upward_Mobility_Satisfaction,Q11_Learning_Opportunities_Satisfaction,Q12_Difficulty_Level_Entry_to_Data,Q13_Most_Important_Aspect_New_Job,Q14_Gender,Q15_Age,Q16_Country_of_Recidency,Q17_Education_Level,Q18_Ethnicity
0,62a33b3db4da29969c62df3d,6/10/2022,8:38,0:00:44,Data Analyst,Yes,125000,Healthcare,Python,9.0,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,No Awnser,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,6/10/2022,8:40,0:01:30,Data Analyst,No,65000,Finance,R,1.0,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,No Awnser,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,6/10/2022,8:42,0:02:18,Data Engineer,No,40000,Other (Please Specify):Clean Energy,Python,0.0,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,No Awnser,Black or African American
3,62a33c8624a26260273822f9,6/10/2022,8:43,0:02:10,Consultant,Yes,225000,Finance,R,10.0,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,No Awnser,White or Caucasian
4,62a33c91f3072dd892621e03,6/10/2022,8:44,0:01:51,Data Analyst,Yes,65000,Healthcare,R,1.0,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,No Awnser,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,6/23/2022,22:45,0:00:50,Data Analyst,Yes,150000,Other (Please Specify):Retail,R,8.0,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,6/24/2022,7:45,0:03:12,Data Scientist,No,40000,Other (Please Specify):Manufacturing,R,4.0,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,6/25/2022,9:41,0:04:43,Student,Yes,40000,Tech,Python,1.0,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,6/25/2022,19:06,0:02:17,Data Engineer,No,40000,Tech,Python,6.0,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,6/26/2022,12:58,0:01:19,Data Analyst,No,65000,Other (Please Specify):Automotive,Python,8.0,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [238]:
#Q4
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling
clean_row_df['Q4_Industry'] = clean_row_df["Q4_Industry"].str.lstrip("Other (Please Specify): ")
clean_row_df["Q4_Industry"].unique()

#Cleaning the data
to_fix=[]

#Created for loop to get all values and make them all match

for i in clean_row_df["Q4_Industry"].unique():
    to_fix.append(i)
    
#used replace method
clean_row_df = clean_row_df.replace({"Q4_Industry":{'Igaming':'Tech',
                                                                   'Coworking space ':'Leasing',
                                                                  'Energy':'Utilities',
                                                                  'nd gas':'Utilities',
                                                                  'Automotive ':'Automotive',
                                                                  'Utili':'Utilities',
                                                                  'Not working yet':'Student',
                                                                  'Manufa':'Manufacturing',
                                                                  'Manufacturing (Chemicals)':'Manufacturing',
                                                                  'Currently studying . Previously worked in Power Generation':'Student',
                                                                  'Not working at the moment, but previously I have been into Education industry':'Education',
                                                                  'Third Party Logistics ':'Logistics',
                                                                  'Advertising':'Marketing',
                                                                  'ng and Recruting ':'Recruitment',
                                                                  'Consumer Elec':'Consumer Electronics',
                                                                  'miconductor manufacturing':'Manufacturing',
                                                                  'upply Chain - warehousing, transpiration and ':'Supply Chain',
                                                                  'Distribution':'Supply Chain',
                                                                  'Ecom':'eCommerce',
                                                                  'Consulti':'Consulting',
                                                                  'Cons':'Construction',
                                                                  'Energy ':'Utilities',
                                                                  'Government programs':'Government',
                                                                  'upply Chain':'Supply Chain',
                                                                  'Food & Beverage ':'Food & Beverage',
                                                                  'Foodservice Franchising':'Food & Beverage',
                                                                   'Government ':'Government',
                                                                   '':'Other',
                                                                   'Entertainment ':'Entertainment',
                                                                   'Market research':'Marketing',
                                                                   'ospitality':'Hospitality',
                                                                   'Chemical Manufacturing':'Manufacturing',
                                                                   'oultry':'Food & Beverage',
                                                                   'Renewable Resources':'Utilities',
                                                                   'Manufacturering ':'Manufacturing',
                                                                   'orts':'Sports',
                                                                   'on/online store':'eCommerce',
                                                                   'I am a student':'Student',
                                                                   'Unemployed, trying to switch career':'Unemployed',
                                                                   'Marketing ':'Marketing',
                                                                   'Hospitality ':'Hospitality',
                                                                   'Non profit Animal Welfare':'Non-Profit',
                                                                   'Insurance ':'Insurance',
                                                                   'none':'Other',
                                                                   'ocial work ':'Non-Profit',
                                                                   'E-commerce':'eCommerce',
                                                                   'Media & advertising ':'Marketing',
                                                                   'orts/Marketing':'Marketing',
                                                                   'Nonprofit':'Non-Profit',
                                                                   'mile delivery logistics':'Logistics',
                                                                   'Arrosp':'Aerospace',
                                                                   'Demography and Social Statistics ':'Government',
                                                                   '`m currently student':'Student',
                                                                   'None':'Other',
                                                                   'Manuf':'Manufacturing',
                                                                   'udent':'Student',
                                                                   'Automobile Industry':'Automotive',
                                                                   'Fmcg':'Consulting',
                                                                   'NGO - Legislation ':'Law',
                                                                   'Culinary':'Food & Beverage',
                                                                   'Customer support ':'Customer service',
                                                                   'Cosmetics ':'Cosmetics',
                                                                   'Digital Mar':'Marketing',
                                                                   'Home maker ':'Construction',
                                                                   'I am student. ':'Student',
                                                                   'Unemployed, trying to switch career':'Unemployed',
                                                                   'Utilities ':'Utilities',
                                                                   'Ecommerce':'eCommerce',
                                                                   'Logistics and warehousing':'Logistics',
                                                                   'ublic transport':'Transportation',
                                                                   'Reta':'Retail',
                                                                     'Avia':'Aviation',
                                                                     'Looking for job':'Unemployed',
                                                                     'nsors':'Other',
                                                                     'ofessional Services':'Consulting',
                                                                     'Food and bece':'Food & Beverage',
                                                                     'Research (non-clincial)':'Research',
                                                                     'Gover':'Government',
                                                                     'Defense':'Government',
                                                                     'Foodservice':'Food & Beverage',
                                                                     'Data insights company':'Consulting',
                                                                     'Not currently working':'Unemployed',
                                                                     'Food and Beverages':'Food & Beverage',
                                                                     'Government Administration':'Government',
                                                                     'utsourcing ':'Consulting',
                                                                     'Cobsukting':'Consulting',
                                                                     'Workforce ':'Other',
                                                                     'General contractor':'Construction',
                                                                     'olice / Emergency Services':'Emergency Services',
                                                                     'Consumer retail':'Retail',
                                                                     'Home and living':'Real estate',
                                                                     'Non Profit Organization':'Non-Profit',
                                                                     'Air transpo':'Aviation',
                                                                     'Distribution ':'Logistics',
                                                                     'None for now':'Unemployed',
                                                                     'Retails':'Retail',
                                                                     'Digital Marketing ':'Marketing',
                                                                     'Homelessness':'Non-Profit',
                                                                     'Retail ':'Retail',
                                                                     'Direct Marketing':'Marketing',
                                                                     'FMCG':'Consulting',
                                                                     'Taking bootcamp':'Student',
                                                                     '& Defense':'Government',
                                                                     'Automobile (cars)':'Automotive',
                                                                     'Interning in Sciences, Weather and Meteorological data':'Sustainability',
                                                                     'Beverage and foods':'Food & Beverage'}})
clean_row_df.head()

,Unique_ID,Date_Taken,Time_Taken,Time_Spent,Q1_Role_Title?,Q2_switch_careers?,Q3_Yearly_Salary,Q4_Industry,Q5_Programming_Language,Q6_Salary_Satisfaction,...,Q9_Management_Satisfaction,Q10_Upward_Mobility_Satisfaction,Q11_Learning_Opportunities_Satisfaction,Q12_Difficulty_Level_Entry_to_Data,Q13_Most_Important_Aspect_New_Job,Q14_Gender,Q15_Age,Q16_Country_of_Recidency,Q17_Education_Level,Q18_Ethnicity
0,62a33b3db4da29969c62df3d,6/10/2022,8:38,0:00:44,Data Analyst,Yes,125000,Healthcare,Python,9.0,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,No Awnser,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,6/10/2022,8:40,0:01:30,Data Analyst,No,65000,Finance,R,1.0,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,No Awnser,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,6/10/2022,8:42,0:02:18,Data Engineer,No,40000,Clean Energy,Python,0.0,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,No Awnser,Black or African American
3,62a33c8624a26260273822f9,6/10/2022,8:43,0:02:10,Consultant,Yes,225000,Finance,R,10.0,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,No Awnser,White or Caucasian
4,62a33c91f3072dd892621e03,6/10/2022,8:44,0:01:51,Data Analyst,Yes,65000,Healthcare,R,1.0,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,No Awnser,Black or African American

In [239]:
#Q5
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling
to_clean=[]
for column in ["Q5_Programming_Language"]:
    clean_row_df[column] = clean_row_df[column].str.lstrip("Other :")
clean_row_df["Q5_Programming_Language"].unique()

for i in clean_row_df["Q5_Programming_Language"].unique():
    to_clean.append(i)
#cleaning the data 
clean_row_df = clean_row_df.replace({"Q5_Programming_Language":{
 'Mostly use sql but thatï¿½s not programming language..':'SQL',
 'Qlik sense script':'Qlik',
 'sql':'SQL',
 'Power bi':'SQL',
 "If SQL is categorised as a programming language then I will definitely say SQL. Since I am still learning, I can't give a definite answer in relation to the abover mentioned but for the sake of choosing I will say R then followed by python":'SQL',
 'I donï¿½t know any':'None',
 'Sql':'SQL',
 'Dont require':'None',
 '':'Other',
 'Knowledge of Excel and SQL yet':'SQL',
 "I don't use programming in my role":'Other',
 'Excel/SQL':'SQL',
 'unknown':'Other',
 'SQL Postgres ':'SQL',
 'Vba':'Excel',
 'Stata':'Other',
 'I currently do not work with programming languages yet':'None',
 'c#':'C/C++',
 'SQL ':'SQL',
 'Just started learning ':'None',
 'i mean, i mostly work in SQL and its variants?':'SQL',
 'NA':'None',
 'Mainly use Excel':'Excel',
 'SQL because that is all I know really well so far. ':'SQL',
 'VBA':'Excel',
 'MATLAB':'Python',
 'Sql &  plsql':'SQL',
 'SAS SQL':'SAS',
 'None at the moment':'None',
 'xcel':'Excel',
 'I do analysis and create presentations based on datasets provided by others':'None'}})

print(clean_row_df["Q5_Programming_Language"].unique())
clean_row_df.head()

['Python' 'R' 'SQL' 'Qlik' 'JavaScript' 'C/C++' 'None' 'Other' 'DAX'
 'Excel' 'Altery' 'Java' 'SAS' 'Php']

,Unique_ID,Date_Taken,Time_Taken,Time_Spent,Q1_Role_Title?,Q2_switch_careers?,Q3_Yearly_Salary,Q4_Industry,Q5_Programming_Language,Q6_Salary_Satisfaction,...,Q9_Management_Satisfaction,Q10_Upward_Mobility_Satisfaction,Q11_Learning_Opportunities_Satisfaction,Q12_Difficulty_Level_Entry_to_Data,Q13_Most_Important_Aspect_New_Job,Q14_Gender,Q15_Age,Q16_Country_of_Recidency,Q17_Education_Level,Q18_Ethnicity
0,62a33b3db4da29969c62df3d,6/10/2022,8:38,0:00:44,Data Analyst,Yes,125000,Healthcare,Python,9.0,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,No Awnser,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,6/10/2022,8:40,0:01:30,Data Analyst,No,65000,Finance,R,1.0,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,No Awnser,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,6/10/2022,8:42,0:02:18,Data Engineer,No,40000,Clean Energy,Python,0.0,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,No Awnser,Black or African American
3,62a33c8624a26260273822f9,6/10/2022,8:43,0:02:10,Consultant,Yes,225000,Finance,R,10.0,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,No Awnser,White or Caucasian
4,62a33c91f3072dd892621e03,6/10/2022,8:44,0:01:51,Data Analyst,Yes,65000,Healthcare,R,1.0,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,No Awnser,Black or African American

In [240]:
#Q12

#Clean Q12 Column adding "Preffer not to anwser instead of NAN"
clean_row_df['Q17_Education_Level']=clean_row_df['Q17_Education_Level'].fillna("No Awnser")
#Display unique values
print(clean_row_df['Q17_Education_Level'].unique())
clean_row_df.head()

['No Awnser' 'High School' 'Bachelors' 'Masters' 'Associates' 'PhD']

,Unique_ID,Date_Taken,Time_Taken,Time_Spent,Q1_Role_Title?,Q2_switch_careers?,Q3_Yearly_Salary,Q4_Industry,Q5_Programming_Language,Q6_Salary_Satisfaction,...,Q9_Management_Satisfaction,Q10_Upward_Mobility_Satisfaction,Q11_Learning_Opportunities_Satisfaction,Q12_Difficulty_Level_Entry_to_Data,Q13_Most_Important_Aspect_New_Job,Q14_Gender,Q15_Age,Q16_Country_of_Recidency,Q17_Education_Level,Q18_Ethnicity
0,62a33b3db4da29969c62df3d,6/10/2022,8:38,0:00:44,Data Analyst,Yes,125000,Healthcare,Python,9.0,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,No Awnser,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,6/10/2022,8:40,0:01:30,Data Analyst,No,65000,Finance,R,1.0,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,No Awnser,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,6/10/2022,8:42,0:02:18,Data Engineer,No,40000,Clean Energy,Python,0.0,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,No Awnser,Black or African American
3,62a33c8624a26260273822f9,6/10/2022,8:43,0:02:10,Consultant,Yes,225000,Finance,R,10.0,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,No Awnser,White or Caucasian
4,62a33c91f3072dd892621e03,6/10/2022,8:44,0:01:51,Data Analyst,Yes,65000,Healthcare,R,1.0,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,No Awnser,Black or African American

In [241]:
#Q16
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling
to_clean1=[]
for column in ["Q16_Country_of_Recidency"]:
    clean_row_df[column] = clean_row_df[column].str.lstrip('Other (Please Specify):')
clean_row_df["Q16_Country_of_Recidency"].unique()

for i in clean_row_df["Q16_Country_of_Recidency"].unique():
    to_clean1.append(i)

clean_row_df = clean_row_df.replace({"Q16_Country_of_Recidency":{'United States':'US',
 'Canada':'CA',
 'Nigeria':'NG',
 'Republic democratic of Congo ':'CG',
 '':'Other',
 'bia':'CO',
 'Argentina':'AR',
 'United Kingdom':'UK',
 'Niger':'NE',
 'Kenya':'KE',
 'Azerbaijan':'AZ',
 'udan':'SS',
 'India':'IN',
 'Japan':'JP',
 'Greece':'GR',
 'ï¿½ ':'Other',
 'Australia':'AU',
 'n':'Other',
 'Kenya ':'KE',
 'Barbados':'BB',
 'outh Africa':'ZA',
 'Colombia':'CO',
 'Germany':'DE',
 'Bulgaria':'BG',
 'Turkey':'TR',
 'France':'FR',
 'Thailand':'TH',
 'Netherlands':'NL',
 'Denmark':'DK',
 'Brazil':'BZ',
 'Mexico':'MX',
 'Chile':'CL',
 'Costa Rica':'CR',
 'Vietnam':'VN',
 'Nigeria ':'NG',
 'ortugal':'PT',
 'urkey':'TR',
 'Egypt':'EG',
 'kistan':'PK',
 'Ireland ':'IRL',
 'oland':'PL',
 'Mozambique':'MZ',
 'Egypt ':'EG',
 'Israel':'IL',
 'ngapore':'SG',
 'Belgium':'BEL',
 'UAE':'AE',
 'omalia':'CO',
 'Kosovo':'XK',
 'Iraq':'IQ',
 'Romania':'RO',
 'u':'Other',
 'nes':'Other',
 'Malaysia':'MY',
 'nigeria':'NG',
 'Ghana':'GH',
 'ortugsl':'PT',
 'Macedonia':'MK',
 'Irel':'IL',
 'Morocco':'MA',
 'Costa Rica ':'CR',
 'Iran':'IR',
 'outh Africa ':'ZA',
 'Bangladesh ':'BD',
 'Ire':'IE',
 'Antigua ':'AQ',
 'Venezuela':'VE',
 'Brazik':'BR',
 'outh Korea':'KR',
 'nama':'Other',
 'ndonesia':'ID',
 'Angola':'AO',
 'Africa (Nigeria)':'NG',
 'Fin':'FI',
 'Austr':'AU',
 'Leba':'LB',
 'udi Arabia':'SA',
 'United Arab Emirates ':'AE',
 'Zambia':'ZM',
 'ghana':'GH',
 'Uruguay':'UY',
 'Indonesia':'ID',
 'Hong Kong':'HK',
 'TUNISIA':'TN',
 'nka':'Other',
 'Kenua':'KE',
 'Argentina ':'AR',
 'Liberia':'LR',
 'G':'Other',
 'Aisa':'Other',
 'Argentine':'AR',
 'weden':'Other',
 'udi Arabia ':'SA',
 'Algeria':'DZ',
 'Ireland':'IE',
 'uzb':'UZ',
 'Morocco ':'MA',
 'man':'Other'}})
print(clean_row_df["Q16_Country_of_Recidency"].unique())

clean_row_df

['US' 'CA' 'NG' 'CG' 'Other' 'CO' 'AR' 'UK' 'NE' 'KE' 'AZ' 'SS' 'IN' 'JP'
 'GR' 'AU' 'BB' 'ZA' 'DE' 'BG' 'TR' 'FR' 'TH' 'NL' 'DK' 'BZ' 'MX' 'CL'
 'CR' 'VN' 'PT' 'EG' 'PK' 'IRL' 'PL' 'MZ' 'IL' 'SG' 'BEL' 'AE' 'XK' 'IQ'
 'RO' 'MY' 'GH' 'MK' 'MA' 'IR' 'BD' 'IE' 'AQ' 'VE' 'BR' 'KR' 'ID' 'AO'
 'FI' 'LB' 'SA' 'ZM' 'UY' 'HK' 'TN' 'LR' 'DZ' 'UZ']

,Unique_ID,Date_Taken,Time_Taken,Time_Spent,Q1_Role_Title?,Q2_switch_careers?,Q3_Yearly_Salary,Q4_Industry,Q5_Programming_Language,Q6_Salary_Satisfaction,...,Q9_Management_Satisfaction,Q10_Upward_Mobility_Satisfaction,Q11_Learning_Opportunities_Satisfaction,Q12_Difficulty_Level_Entry_to_Data,Q13_Most_Important_Aspect_New_Job,Q14_Gender,Q15_Age,Q16_Country_of_Recidency,Q17_Education_Level,Q18_Ethnicity
0,62a33b3db4da29969c62df3d,6/10/2022,8:38,0:00:44,Data Analyst,Yes,125000,Healthcare,Python,9.0,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,US,No Awnser,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,6/10/2022,8:40,0:01:30,Data Analyst,No,65000,Finance,R,1.0,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,CA,No Awnser,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,6/10/2022,8:42,0:02:18,Data Engineer,No,40000,Clean Energy,Python,0.0,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,NG,No Awnser,Black or African American
3,62a33c8624a26260273822f9,6/10/2022,8:43,0:02:10,Consultant,Yes,225000,Finance,R,10.0,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,CA,No Awnser,White or Caucasian
4,62a33c91f3072dd892621e03,6/10/2022,8:44,0:01:51,Data Analyst,Yes,65000,Healthcare,R,1.0,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,US,No Awnser,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,6/23/2022,22:45,0:00:50,Data Analyst,Yes,150000,Retail,R,8.0,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,US,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,6/24/2022,7:45,0:03:12,Data Scientist,No,40000,Manufacturing,R,4.0,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,US,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,6/25/2022,9:41,0:04:43,Student,Yes,40000,Tech,Python,1.0,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,6/25/2022,19:06,0:02:17,Data Engineer,No,40000,Tech,Python,6.0,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,CR,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,6/26/2022,12:58,0:01:19,Data Analyst,No,65000,Automotive,Python,8.0,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,US,Bachelors,Asian or Asian American

In [ ]:
#Q8
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling

In [ ]:
#Q9
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling

In [ ]:
#Q10
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling

In [ ]:
#Q11
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling

In [ ]:
#Q12
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling

In [ ]:
#Q13
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling

In [ ]:
#Q14
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling

In [ ]:
#Q15
#Step 1: display all values
#Step 2: Strip, lower and replace spacing for _
#Step 3: Identify unique values check if there are some that are the same just different spelling